

body 
{background-image: url("../img/background.jpg");
     color:white;
    }

.main-title{
    font-family: lobster, sans-serif;
    text-align: center;
    border-radius: 25px;
    border: 2px solid white;
    width: 50%;
    display: block;
    margin: auto;
    font-size: 30px;
    text-shadow: 2px 4px 2px black;
}

.container{
    width: 100%;
    text-align: center;
}
.container h5, .instructions
    {
    padding: 5px;
    font-size: 25px;
    margin: 10px 0;
    font-family: lobster;
    text-shadow: 2px 2px 2px black;
    display: inline-block;
}

span:nth-child(2){
    height: 10px;
}


table{
    
    border-collapse: collapse ;
    margin: auto;
}

.cell {
    width:40px;
     height:40px;
     text-align: center;
     background-image: url("../img/field.png");
     padding:0;
    }

.cell:hover{
    cursor: pointer;
}


.cell img {width:25px; height:auto}
.floor {background-color: gray}

.wall {
    background-image: url(../img/wall.png);
}

/* .rest,  .messege-won{
    display: none;
} */


.win-container{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    font-family: lobster;
}

.show {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.reset{
    background-color: azure;
    border: 2px solid black;
    margin-left: 50%;
    padding: 10px;
    cursor: pointer;
    transform: translate(-50%,-50%);
    font-family: lobster;
    font-size: 20px;
    text-shadow: 2px 3px 5px grey;
}

.message-won{
    text-shadow: 2px 2px 5px black;
}

