
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  background-color: #73AEDB;
  text-align: center;
  color:#fcf064;
  font-size: 3em;
}

footer {
  background-color:  black;
  text-align: center;
  color:lightblue;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.new-game h1{
  font-family: 'Courier New', Courier, monospace;
  text-shadow: 2px 2px 2px gray;
}

